= render 'layouts/containers/top'
= render 'layouts/containers/about'
= render 'layouts/containers/core'
= render 'layouts/containers/service'
= render 'layouts/containers/parallax_1'
= render 'layouts/containers/team'
= render 'layouts/containers/testimonials'
= render 'layouts/containers/pricing'
= render 'layouts/containers/contact'