#neem-contact-op.parallax-2.contact
  .parallax-over-2
    .container
      .row.marg75
        .col-lg-12
          .promo-white Contact
          .promo-p.bg-white neem contact met ons op.
      .row
        .col-lg-4.col-md-4.col-sm-4.marg50
          .contact-info
            .contact-icon
              %i.icon-call-in
            .contact-bg
              .contact-name Bel ons
              .contact-tel
                0800-linkgoo
                %br/
                %span Tijdens kantooruren, gratis
        .col-lg-4.col-md-4.col-sm-4.marg50
          .contact-info
            .contact-icon.cc2
              %i.icon-envelope
            .contact-bg
              .contact-name E-mail
              .contact-tel
                'concept'@'cyte.nl'
                %br/
                %span of maak gebruik van het contact formulier
        .col-lg-4.col-md-4.col-sm-4.marg50
          .contact-info
            .contact-icon.cc3
              %i.icon-pointer
            .contact-bg
              .contact-name Adres
              .contact-tel
                Lage Traan 4H
                %br/
                9351 VL Leek
.bg
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.col-ms-12.marg75
        .row
          = form_for @contact, remote: true, id: "contactForm" do |f|
            .col-lg-12
              %p.text_cont
                = f.text_field :name, placeholder: "Naam", required: true, class: "input-cont"
            .col-lg-12
              %p.text_cont
                = f.text_field :email, placeholder: "E-mail", required: true, class: "input-cont"
            .col-lg-12
              %p.text_cont
                = f.text_field :subject, placeholder: "Onderwerp", required: true, class: "input-cont"
            .col-lg-12
              %p.text_cont
                = f.text_area :message, placeholder: "Bericht", cols: "30", rows: "8", id: "message", class: "input-cont-textarea"
            .col-lg-12
              %p
                = f.hidden_field :checker
                = f.submit "Bericht versturen", id: "send", class: "btn btn-send"

      .col-lg-6.col-md-6.col-sm-6.col-xs-12.col-ms-12.marg75
        %iframe{frameborder: "0", height: "380", marginheight: "0", marginwidth: "0", scrolling: "no", src: "http://maps.google.ru/?ie=UTF8&ll=\r\n53.184988, 6.370399\r\n&spn=0.006967,0.016512&t=m&z=17&output=embed", width: "100%"}