.core-bg
  .container
    .row.marg75
      .col-lg-12
        %h2.promo-white Uw totaal oplossing voor web applicaties.
        %h3.promo-p-white grafische oplossingen en dynamische web applicaties onder één dak.
    .row.tab-device.marg75
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .box.visible
          .core-img
            = link_to image_tag("branding-portfolio-clown.png"), root_path
        .box
          .core-img
            = link_to image_tag("dynamische-apps.png"), root_path
        .box
          .core-img
            = link_to image_tag("marketing-communicatie.png"), root_path
        .box
          .core-img
            = link_to image_tag("website-support.png"), root_path
        .box
          .core-img
            = link_to image_tag("websiteadvies.png"), root_path

      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        %ul.core-ul.tabs
          %li.current
            %i.icon-arrow-right
            Sterk in Design en User Experience.
          %li
            %i.icon-arrow-right
            Specialist in Dynamische Apps.
          %li
            %i.icon-arrow-right
            Ervaren Marketing Communicatie.
          %li
            %i.icon-arrow-right
            Persoonlijke contact en support.
          %li
            %i.icon-arrow-right
            Altijd Gratis advies bij onze koffie. 

        .but-core
          %a#contact{href: "#neem-contact-op"} meer weten
