.core-bg
  .container
    .row.marg75
      .col-lg-12
        %h2.promo-white Uw project is onze zorg
        %h3.promo-p-white Totaal leverancier van grafische oplossingen en applicaties
    .row.tab-device.marg75
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .box.visible
          .core-img
            = link_to image_tag("branding-portfolio-clown.png"), root_path
        .box
          .core-img
            = link_to image_tag("dynamische-apps.png"), root_path
        .box
          .core-img
            = link_to image_tag("marketing-communicatie.png"), root_path
        .box
          .core-img
            = link_to image_tag("website-support.png"), root_path
        .box
          .core-img
            = link_to image_tag("websiteadvies.png"), root_path

      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        %ul.core-ul.tabs
          %li.current
            %i.icon-arrow-right
            Statisch Design
          %li
            %i.icon-arrow-right
            Dynamische Apps
          %li
            %i.icon-arrow-right
            Marketing Communicatie
          %li
            %i.icon-arrow-right
            Persoonlijke support
          %li
            %i.icon-arrow-right
            Gratis advies

        .but-core
          %a#contact{href: "#neem-contact-op"} meer weten
