!!!
%html.js.no-touch.cssanimations.csstransitions{ lang: 'nl' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }/
    %meta{ name: 'description', content: 'Wij zijn RailsApp. Ruby on Rails applicaties, wij developen online software,' }/
    %meta{ name: 'author', content: 'Cyte' }/
    %meta{ name: 'keywords', content: 'railsapp rails ruby applicaties applicatie webapp software ror development' }/
    %meta{ name: 'created', content: '2014' }/
    %meta{ name: 'distribution', content: 'local' }/
    %meta{ name: 'robots', content: 'follow, all' }/
    %meta{ name: 'language', content: 'nl' }/
    %meta{ name: 'googlebot', content: 'index, follow' }/
    %meta{ name: 'revisit-after', content: '2 days' }/
    %link{ href: 'favicon.png', rel: 'shortcut icon' }/
    %title RailsApp.nl | 25% korting op de eerste 5 uitdagende projecten

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body#home{"data-spy" => "scroll", "data-target" => ".navbar-collapse"}
    #spinner

    #flash
      - flash.each do |name, msg|
        .flashbox{:id => "flash_#{name}"}
          = content_tag :div, msg

    = render 'layouts/blocks/header'
    = yield
    = render 'layouts/blocks/footer'

  %script{async: "", src: "https://www.google-analytics.com/analytics.js"}
  = javascript_include_tag "application", "data-turbolinks-track" => true
